/**
 * This file is for any scss that you may want for this visualizer.
 */

.semantic-graph {
  outline: none;
  .legend {
      stroke: #eeeeee;
      fill: white;
      .title {
          font-size: 14px;
      }
  }
}  
.node-modal {
  .modal-body {
    font-size: 14px;
  }
  .close {
    font-size: 30px; 
    line-height: 0.5;
  }
}

#edge-prompt {
  overflow: visible;
  .modal-body {
    overflow: visible;
  }
}
