/**
 * This file is for any scss that you may want for this visualizer.
 */
.semantic-graph {
  outline: none; }
  .semantic-graph .legend {
    stroke: #eeeeee;
    fill: white; }
    .semantic-graph .legend .title {
      font-size: 14px; }
  .semantic-graph .hidden {
    display: none; }

.node-modal .modal-body {
  font-size: 14px; }

.node-modal .close {
  font-size: 30px;
  line-height: 0.5; }

#edge-prompt {
  overflow: visible; }
  #edge-prompt .modal-body {
    overflow: visible; }
