/**
 * This file is for any scss that you may want for this visualizer.
 */

.semantic-graph {
  outline: none;
  .legend {
      right: 25px;
      top: 15px;
      position: absolute;
      rect {
          stroke: #eeeeee;
          fill: white;
          .title {
              font-size: 14px;
          }
      }
  }
  .hidden {
      display: none;
  }
}  
.node-modal {
  .modal-body {
    font-size: 14px;
  }
  .close {
    font-size: 30px; 
    line-height: 0.5;
  }
}

#edge-prompt {
  overflow: visible;
  .modal-body {
    overflow: visible;
  }
}
